
<html>
  <%- include('fragmentos/head'); %> 
<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 

    <div class="section section-buttons section section-dark" style="background-image: url('assets/img/repeat.png');">
          
       <!--   
<br><br>
-->

<br><br>

<div style="margin-top: 60px" class="col-md-7 mr-auto ml-auto wizard-card">
  <div class="card-body">
  <form action="/coments" method="POST"><div class="form-group">
  </div><div class="form-group">
    <input name="nombre" type="text" class="h5" placeholder="Ingresa tu nombre" id="nombre"  required='true'>
    <input name="correo" type="email" class="h5" placeholder="Correo electrónico" id="correo" required='true'>
    <textarea name="publication" id="publication" style="margin-left: 0%; margin-bottom: 0%;margin-top: 0%" rows="2" placeholder="Agrega tu comentario" required="" class="form-control h4 text-black"></textarea></div><div style="margin-left: 0%; margin-bottom: 0%" class="form-group ml-auto"><button href="#" type="submit" style="margin-right:6%;background-color: 000;
 margin-top: -3%" class="btn btn-success submit" style="">Publicar<div class="fa fa-post"></div></button></div></form></div></div>

  <h2 class="text-center text-white">Comentarios</h2>
<br>
<div class="container  col-md-9 " style="background-color: 000; opacity: 0.75">


<% for(var i=0;i<publish.length;i++) { %>
       <br>
  <div  class="card ">
    <div class="container" style="margin-left: 15px">
      <br>
    <strong class=" h6" ><%= publish[i].nombre %></strong> <br><b><%= publish[i].correo %></b> <br><br>
    <b class="h5"><%= publish[i].publish %></b>
    <br>
    <br>
  </div>
  </div>


<% } %>


       <div class="container mr-auto ml-auto col-md-2 text-center">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>

              </ul>
              <span class="copyright text-center">©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <i class="fa fa-heart heart"></i>

            </span>
</div>
</div>
</div>

</body>

</html>